/*	Filter
--------------------------------------*/
ul.isotope-acoc-filter{ margin:0; padding:0; list-style-type:none !important; margin-bottom:20px !important; display:block; overflow:hidden; }
ul.isotope-acoc-filter li{ 
	margin:0; 
	padding:0; 
	list-style-type:none !important; 
	float:left; 
	padding:4px 8px;
	background:#06C; 
	color:#FFF; 
	margin-right:3px; 
	cursor:pointer; 
}
ul.isotope-acoc-filter li.active{ background:#333; }